<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.name %></h4>
    <p>
    Below is a report of the last import that occured on <%= I18n.l(@batch.finished, format: :long) %>
    </p>
    <h3>Summary</h3>
    <p> <%= @batch.import_log.where(:imported => true).count %> items imported successfully. </p>
    <p>View a summary of import logs  <%=link_to "here", batch_import_logs_url(@batch) %>
    <h3> Error list</h3>
    <% if @errors.count >= 1 %>
        <table>
            <tr>
                <th>Pid</th>
                <th>Title</th>
                <th>LCC code</th>
                <th>Error </th>
            </tr>
            <% @errors.each do |error| %>
                <tr>
                    <td><%= error.pid %></td>
                    <td><%= error.title %></td>
                    <td><%= error.digitool_collection_code %></td>
                    <td><%= error.error %></td>
                </tr>
        <% end %>
        </table>
    <% else %>
        <p> Yay! No errors reported! </p>
    <% end %>
  </body>
</html>
