<footer class="navbar navbar-inverse site-footer" style="background-color: <%= default_header_background_color %>;">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p><%= t('hyrax.footer.service_html') %></p>
        <p><%= t('hyrax.product_name') %> v<%= Hyrax::VERSION %></p>
        <p>Code release version:  v<%= Hyrax::VERSION %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><%= t('hyrax.footer.copyright_html') %></p>
        <p><%= t('hyrax.background_attribution_html') %></p>
        <% if !user_signed_in? %>
          <ul id="user_utility_links" class="nav navbar-nav navbar-right">
            <li>
              <%= link_to main_app.new_user_session_path do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> <%= t("hyrax.toolbar.profile.login") %>
              <% end %>
            </li> 
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</footer>
<!-- Only load google analytics after launch of 2020-02-10 -->
<% if Date.today >= Date.new(2020, 02, 10) and on_live_site %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146667563-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag()

   {dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-146667563-1');
  </script>
<% end %>
