
#toolbar.select
  %select.form-control
    %option{:value => ""} Export Basic
    %option{:value => "all"} Export All
    %option{:value => "selected"} Export Selected
- @import_logs.each do |import_log|
  - if import_log.imported?
    %div.xmllog-modal{"role": "dialog", "id": "xmllog-#{import_log.id}"}
      = render partial: "import_logs/xml_modal", locals: {xml: import_log.raw_xml, pid: import_log.pid}
  - if !import_log.imported?
    %div.errorlog-modal{"role": "dialog", "id": "errorlog-#{import_log.id}"}
      = render partial: "import_logs/log_error_modal", locals: {error: import_log.error, pid: import_log.pid}
  - if import_log.pid.present?
    %div.importlog-modal{"role": "dialog", "id": "importlog-#{import_log.id}"}
      = render partial: "import_logs/import_log_modal", locals: {import_log: import_log, pid: import_log.pid}
%table.table.table-striped#import_logs-table{"data-filter-control": "true",
    "data-show-filter": "true",
    "data-show-refresh": "false",
    "data-search": "true",
    "data-smart-display": "true",
    "data-sortable": "true",
    "data-classes": "table table-hover table-no-bordered",
    "data-toolbar": "#toolbar",
    "data-show-columns": "true",
    "data-show-export": "true",
    "data-click-to-select": "true",
    "data-pagination": "true",
    "data-page-list": "[10, 25, 50, 100, 200, All]",
    "data-show-search-clear-button": "true",
    "data-show-footer": "true",
    "data-footer-style": "footerStyle",
    "data-show-export": "true",
    "data-url": "/admin/digitool-imports/batches/#{@batch.id}/import_logs.json",
    }
  %thead.thead-dark
    %tr
      %th{"data-field": "state", "data-sortable": "false"} Select
      %th{"data-field": "status", "data-sortable": "true"} Imported
      %th{"data-field": "pid", "data-sortable": "true"} PID
      %th{"data-field": "work_url", "data-sortable": "true"} Work ID
      %th{"data-field": "title", "data-sortable": "true"} Title
      %th{"data-field": "work_type", "data-sortable": "true"} Work Type
      %th{"data-field": "updated_at", "data-sortable": "true"} Imported on
      %th{"data-field": "actions"} Actions

- content_for(:javascript) do
  :javascript
    $table = $('#import_logs-table')

    totalTextFormatter = function(data) {
        return 'Total';
    };
    totalNameFormatter = function(data) {
        return data.length;
    };
    dateFormatter = function(value) {

      m =  new Date(value);
      var dateString =
        m.getUTCFullYear() + "/" +
        ("0" + (m.getUTCMonth()+1)).slice(-2) + "/" +
        ("0" + m.getUTCDate()).slice(-2) + " " +
        ("0" + m.getUTCHours()).slice(-2) + ":" +
        ("0" + m.getUTCMinutes()).slice(-2);
      return dateString;
    };

    linkFormatter = function(value) {
      return '<a class="link" href="/concerns/' + value +
                  '" title="Like">' + value + '<i class="fa fa-share"></i></a>';
      };

    $(document).on('turbolinks:load', function() {
        $table.bootstrapTable();
        $('#toolbar').find('select').change(function () {
              $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                columns: [
                  {
                    field: 'state',
                    checkbox: true,
                    visible: $(this).val() === 'selected'
                  },
                  {
                    title: 'Imported',
                    field: 'status',
                    valign: 'middle'
                  },
                  {
                    title: 'PID/Student ID',
                    field: 'pid',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                  },
                  {
                    title: 'Work ID',
                    field: 'work_url',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                  },
                  {
                    field: 'title',
                    title: 'Title',
                    sortable: true,
                    align: 'left'
                  },
                  {
                    field: 'work_type',
                    title: 'Work Type',
                    sortable: true,
                    align: 'center',
                  },
                  {
                    field: 'updated_at',
                    title: 'Imported on',
                    sortable: true,
                    align: 'center',
                  },
                  {
                    field: 'actions',
                    title: 'Actions',
                    events: window.operateEvents,
                  },
                ]
              })
        }).trigger('change')
    });
