%h1 Digitool import logs for batch no: #{@import_logs.first.batch_id} imported #{l(@batch.updated_at, :format => :short)}.

#toolbar.select
  %select.form-control
    %option{:value => ""} Export Basic
    %option{:value => "all"} Export All
    %option{:value => "selected"} Export Selected
%table.table.table-striped#import_logs-table{"data-toggle":"table",
      "data-filter-control": "true",
      "data-show-filter": "false",
      "data-show-refresh": "false",
      "data-search": "true",
      "data-smart-display": "true",
      "data-classes": "table table-hover table-no-bordered",
      "data-toolbar": "#toolbar",
      "data-show-columns": "true",
      "data-show-export": "true",
      "data-pagination": "true",
      "data-page-list": "[10, 25, 50, 100, 200, All]",
      "data-show-search-clear-button": "true",
      "data-show-footer": "true",
      "data-footer-style": "footerStyle",
      "data-show-export": "true",
      }
  %thead.thead-dark
    %tr
      %th{"data-field": "import_log_id"} ID
      %th Imported?
      %th PID
      %th Title
      %th Work ID
      %th Work Type
      %th Imported on
      %th Actions

  %tbody
    - @import_logs.each do |import_log|
      %tr
        %td
          %a.detailed-icon{"href" => "javascript:", "data-indexed" => "#{import_log.id}"}
            %i.glyphicon.glyphicon-plus.icon-plus
            %span #{import_log.id}
        %td= import_log.imported.present? ? "yes" : "no"
        %td= import_log.pid
        %td= import_log.title.present? ? import_log.title.truncate(14) : ""
        %td= import_log.work_id
        %td= import_log.work_type
        %td{}
          = l(import_log.updated_at, :format => :short)
        %td
          %span= link_to 'View details', batch_import_log_path(import_log.batch_id,import_log)
          %span= link_to 'Edit', edit_batch_import_log_path(import_log.batch_id, import_log)
          //%span= link_to 'Destroy', import_log, method: :delete, data: { confirm: 'Are you sure?' }

%br

