.box.box-primary
  .box-header.with-border
  / /.box-header
  - if @batch.errors.any?
    #error_explanation
    .form-group.has-warning
      %h2= "#{pluralize(@batch.errors.count, "error")} prohibited this batch from being saved:"
      %ul
        - @batch.errors.full_messages.each do |message|
          %li= message
  = simple_form_for :batch, :url => '/admin/digitool-imports/batches/import' do |f|
    .box-body
      / textarea
      .form-group
        = f.input :name, disabled: false, hint: 'Give this batch import a descriptive name.'
      .form-group
        %label List of PIDS
        %textarea.form-control{:placeholder => "Enter list of pids separated by comma...", :rows => "3"}
    .box-footer
      = f.button :submit, "Import", class: "btn btn-primary"
      = f.button :button, "Cancel", class: "btn btn-secondary"
