%p#notice= notice

%h1 List of imported  items
%h3 for batch no: #{@batch.id} imported #{l(@batch.updated_at, :format => :long)}.

= render "import_logs/table"

= link_to 'Edit', edit_admin_batch_path(@batch)
\|
= link_to 'Back', admin_batches_path
