%h1 Digitool imports: Batch lists

%table.table.table-stripped.table-hover.table-condensed.order-column#batch-table{"data-filter-control": "true",
      "data-show-filter": "true",
      "data-show-refresh": "false",
      "data-search": "true",
      "data-smart-display": "true",
      "data-sortable": "true",
      "data-classes": "table table-hover table-no-bordered",
      "data-toolbar": "#toolbar",
      "data-show-columns": "true",
      "data-show-export": "true",
      "data-pagination": "true",
      "data-page-list": "[10, 25, 50, 100, 200, All]",
      "data-show-search-clear-button": "true",
      "data-show-footer": "true",
      "data-footer-style": "footerStyle",
      "data-show-export": "true",
      }
  %thead.thead-dark
    %tr
      %th{"data-field": "id", "data-sortable": "true"}  Batch No
      %th{"data-field": "name", "data-sortable": "true"}  Batch name
      %th{"data-field": "no", "data-sortable": "true"}  Successful imports
      %th{"data-field": "no", "data-sortable": "true"}  Errors
      %th{"data-field": "no", "data-sortable": "true"}  Total items
      %th{"data-field": "created_at", "data-sortable": "true"} Started  on
      %th{"data-field": "total_time", "data-sortable": "true"} Duration
      %th Actions

  %tbody
    - @batches.each do |batch|
      - time_taken = (batch.updated_at - batch.created_at)
      - mins  = (time_taken / 60) % 60
      - hours = time_taken / (60 * 60)
      %tr
        %td= link_to batch.id, batch
        %td= batch.name
        %td.centered= batch.no
        %td.centered= batch.no
        %td.centered= batch.no
        %td{}
          = l(batch.created_at, :format => :short)
        %td{}
          = distance_of_time_in_words(time_taken)
        %td
          %span= link_to 'Edit', edit_batch_path(batch)
          %span= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Batch', new_batch_path

- content_for(:javascript) do
  :javascript
    $(document).on('turbolinks:load', function() {
        $table = $('#batch-table')
        $table.bootstrapTable();
    });
    function boldFormatter(value, row) {
      return '<strong><span class="blue-highlight">' + value + '</span></strong>'
    }
